<%- include('header') %>
    <style>
        .k {
            background-color: black;
            text-align: center;
            color: white;
            font-size: 25px;
            height: 50px;
        }
        .foot{
            position: fixed;
            bottom: 0;
            background-color: black;
            text-align: center;
            color: white;
            width: 100%;
            font-size: 25px;
            height: 50px;
        }
       
        .f{
            text-align: center;
        }
        .a {
        background-color: black;
        color: white;
        border:none;
        margin-top: 5%;
        padding-left: 0%;
        }
    </style>

    <body>
        <header>
            <div class="k">FSA-GROUP-7</div>
        </header>
        <main>


            <br>
            <br>
            <br>
            <form action="/locations/" class="f" method="POST">
                <div class="card-body">
                    <div class="form-group">
                        <label for="name" class="c1">Location Name: </label>
                        <input id="name" type="text" name="locationName" value="">
                    </div>
                    <div class="form-group">
                        <label for="latitude" class="c1"> Enter Latitude: </label>
                        <input id="lat" type="decimal" name="latitude" value="">
                    </div>
                    <div class="form-group">
                        <label for="longitude" class="c1"> Enter Longitude: </label>
                        <input id="lon" type="decimal" name="longitude" value="">
                    </div>

                    <div id="t">
                        <button type="submit" id = "t" class="btn btn-black" >Save</button>
                    </div>

                </div>
            </form>
        </main>

        <link href="../public/Styles/main.css" rel="stylesheet" type="text/css">
        <script type="module " src="../services.js "></script>
    </body>
    <br>
    <footer class="foot">

        <a href="https://github.com/Puneeth159/fsa-group-7"></a>
            <i class="fab fa-github "></i> GitHub</a>
    </footer>